.login-container {
    background-color: #e8f5ef;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 150px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.logo_LoginPage {
    width: 150px;
}

.form {
    width: 100%;
    max-width: 250px;
    text-align: left;
}

.form h2 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 20px;
    color: #264653;
}

label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px; /* aumenta o tamanho do ícone */
    color: #666; /* cor padrão */
    transition: color 0.2s ease-in-out;
}

.toggle:hover {
    color: #264653; /* cor ao passar o mouse */
}

.erro {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}

.btn-acessar {
    width: 100%;
    padding: 12px;
    background-color: #264653;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-acessar:hover {
    background-color: #1d3541;
}

.link-ajuda {
    margin-top: 20px;
    display: inline-block;
    color: #457b9d;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.link-ajuda:hover {
    color: #264653;
}
