.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 40px 20px;
  text-align: center;
  background-color: #EAF6F1;
}

.logo img {
  width: 150px;
  margin-bottom: 10px;
}

.textos{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.textos h2 {
  font-size: 16px;
  font-weight: bold;
  color: #1d3557;
  text-align: start;
}

.textos p {
  font-size: 14px;
  color: #6c757d;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 250px;
  margin: 20px 0;
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.login {
  background-color: #3A5F54;
  color: white;
  box-shadow: 0 4px 0 #1a2b3c;
}

.registrar {
  background-color: #508071;
  color: white;
}

.ajuda {
  color: #457b9d;
  font-size: 12px;
  text-decoration: none;
}